
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(15, 15, 112);
    font-family: sans-serif;
    align-items: center;
    padding: 5px;
    position: fixed;
    width: 1520px;
}

header a {
    text-decoration: none;
    color: azure;
    font-weight: 400;
    padding-right: 5px;
    padding-left: 5px;
    font-size: large;
}

header a:hover{
    color: orange;
}

header div{
    align-items: center;
}

.barra-principal{
    display: flex;
}

.imagen-logo{
    height: 70px;
    width: 80px;
    margin-right: 10px;
    margin-left: 10px;


}

.cont{
    padding-top: 1.5cm;
}


.rutina{
    padding-top: 70px;
}

.rutina h1{
    font-family: "";
}





















/* estilo de pie de pagina */
.AllFoot{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer{
    background-color: rgb(15, 15, 112);
}
.footerContenedor{
    width: 100%;
    padding: 70px, 30px, 20px;
}

.socialContenedor{
    display: flex;
    justify-content: center;
}

.socialContenedor a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialContenedor a i {
    font-size: 1.5em;
    color: rgb(15, 15, 112);
    opacity: 0.9;
}

/* Efectos en los iconos  */

.socialContenedor a:hover i{
    color: rgb(205, 142, 25);
    transition: 0.5s;
    font-size: 1.2em;
}

.footerTexto{
    margin: 30px 0;
}

.footerTexto ul{
    display: flex;
    justify-content: center;
}

.footerTexto ul li{
    color:  rgb(15, 15, 112);
}

.footerTexto ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.9;
    transition: 0.5s;
}

.footerTexto ul li a:hover{
    text-decoration: underline;
    opacity: 0.5;
}

.copy{
    background-color: rgb(15, 15, 112);
    padding: 20px;
    text-align: center;
}

.copy p{
    color: white;
    background-color: rgb(13, 13, 95);
}

.hecho{
    opacity: o.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}